# DICTIONARY

In [ ]:
 dic ={'Name':'Akash Nair',
       'Class':'Data science',
       'Contact':987654321,
       'Address':'Pune city'}

In [ ]:
dic

In [ ]:
type(dic)

In [ ]:
dic['Name']

In [ ]:
dic.keys()

In [ ]:
dic.values()

In [ ]:
print(len(dic))

In [ ]:
dic['color']= 'Purple'

In [ ]:
dic

In [ ]:
dic.items()
#the item()method will return each item ina dictionary , as tuple in a list

In [ ]:
dic.update({'color':'Black'})
dic

In [ ]:
d2 = {'Name':['Akash','Mary','Nair']}
d2

In [2]:
d2['Name'][1]

NameError: name 'd2' is not defined

In [ ]:
sd = {101:{'Name': 'Akash','Class':13,'course': 'ML'}}
sd[101]['Class']

In [ ]:
# values can be dictionary, list,tuple but key should be immutable.
copy_sd = sd.copy()

In [ ]:
copy_sd

In [ ]:
copy_sd.clear()
print('copy_sd:',copy_sd)
print('sd:',sd)

In [ ]:
dic

In [ ]:
#the pop() method removes the items with the specified key names
#but you have to give the key npot the value

In [ ]:
dic.pop('Address')

In [ ]:
dic

In [ ]:
# the  popitem() method removes the last inserted item, in version 3.7 , a random  item is removed
dic.popitem()

In [ ]:
del dic['Contact']

In [ ]:
dic

In [ ]:
dic.clear()

In [ ]:
dic

In [ ]:
del dic

In [ ]:
dic ={'Name': 'Akash Nair',
 'Class': 'Data science',
 'Contact': 987654321,
 'Address': 'Pune city',
 'color': 'Black'}
dic

In [ ]:
 # IF statement: we use the if statement to runa block code only when a certain condition is met.
    #if condition :
       # body of if statements

In [ ]:
AGE =int(input('Enter your age :'))
if AGE>18:
    print(" you can vote")
else:
    print("you cannot vote")

In [ ]:
n =10
if n>23:
    print("happy")
else:
    print("sad")

In [ ]:
number = 0
if number >0:
    print("positive Number")
elif number ==0:
    print("zero")
else:
    print("Negative number")
    
print(" you exit man ")

In [ ]:
lang = ['python','C','C++','JAVA']

for i in lang:
    print(i)

In [ ]:
name = "Akash Santosh Nair"
for i in name:
    print(i,end ="")

In [ ]:
c = {"Facebook","Youtube","Instagram","Whatsapp","Twitter"}
for i in c:
    if i == "Twitter":
       print(i,"is Purchased by Elon MUsk.")

In [ ]:
app_form={'Name :':'Akash nair','Contact :': 987654321,'Email_id:':'Akashnair@gmail.com'}
for i in app_form.keys():
    print(i)

In [ ]:
for i in app_form.values():
    print(i)

In [ ]:
for i,j in app_form.items():
    print(i,j)

In [ ]:
# the range function()
for i in range (1,10):
        print(i,end = " ")

In [ ]:
for i in range (0,10,3):
        print(i,end = " ")

In [ ]:
name = " Akash Santosh Nair"
for i in name:
    print(i,end = " ")

In [ ]:
a = ['Name :','Contact :','Email_id:']
b =['Akash nair',987654321,'Akashnair@gmail.com']
for i,j in zip(a,b):
    print(i,j)

In [ ]:
sq =[]
for i in range(10):
     sq.append(i*i)
sq

In [ ]:
# LIST COMPREHENSIONS : NEW_LIST = [MATH EXPRESSION FOR MEMBER IN ITERABLE]
new_list = [i*i for i in range(15)]
new_list

In [ ]:
Input = [1,3,4,5,6,7,8,9,10]
Output = []
for i in Input:
    if i%2 ==0:
        Output.append(i)
        
Output

In [ ]:
Output = [i for i in Input if i%2==0]
Output

In [ ]:
li = [1,2,13,14,10,11,12]
ol = {}
for i in li :
    if (i%2!=0):
        ol[i]=i**3
ol

In [ ]:
ol = [i:i**3 for i in li ]

In [10]:
for i in range (10):
        print(i)
        new_list = [i+i for i in range(10)]
new_list

0
1
2
3
4
5
6
7
8
9

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [12]:
natual_number =[i for i in range (10)]
natual_number_sum = [i+i for i in range(10)]

print(natual_number)  
print(natual_number_sum)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]