# python 1-23dec

# String

In [1]:
x = 9

In [2]:
x

9

In [3]:
a,b,c =1,4,7

In [4]:
a

1

In [5]:
b

4

In [6]:
c

7

In [7]:
name = 'Akash'

In [11]:
print(name)

Akash

In [10]:
string='set of text' #defination of string

In [19]:
k='data ' + 'science'
k
#concatenation

'data science'

In [20]:
ds = 'its a beautiful world'

In [22]:
ds.upper()

'ITS A BEAUTIFUL WORLD'

In [23]:
ad = 'DONT LOOK AT ME'

In [24]:
ad.lower()

'dont look at me'

In [25]:
ad.title()

'Dont Look At Me'

In [26]:
print(ad.lower())
print(ad.capitalize())
print(ad.title())

dont look at me
Dont look at me
Dont Look At Me

In [28]:
s = 'today is good.\ntomorrow \twill be better'
print(s)

today is good.
tomorrow 	will be better

In [30]:
n = 'akash'
n = 'Akash'
n

'Akash'

In [31]:
a = '''Akash '''
b = 345
c =3.14
d =True
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [33]:
len(ad)

15

In [34]:
len(name)

5

In [36]:
a =' its december'
a.find('r')

12

In [37]:
print(a.replace('its','Happy'))

 Happy december

In [38]:
a[2]=z # STRING IS NOT MUTABLE
print(a)

NameError: name 'z' is not defined

In [44]:
a= 7
b = 5
print('The value of 7+5 is :',7+5)
print("The value of 7-5 is :",7-5)
print("The value of 7*5 is :",7*5)
print("The value of 7/5 is :",7/5)
c= a/b
print(c) # its outpit is the remainder
c = a%b
print(c) # its output is the questiont

The value of 7+5 is : 12
The value of 7-5 is : 2
The value of 7*5 is : 35
The value of 7/5 is : 1.4
1.4
2

z = 2

In [45]:

s = 34
s==34

True

In [46]:
# comparison operators
q = (14<=7)
print(q)
q = (14>=7)
print(q)
q = (14<7)
print(q)
q = (14>7)
print(q)
q = (14==7)
print(q)
q = (14!=7)
print(q)

False
True
False
True
False
True

In [47]:
bool1 = True
bool2 = False
print("the value of bool1 and bool2 is :",(bool1 and bool2))
print(" the value of bool1 or bool2 is :",(bool1 or bool2))
print (" the vale of not bool2 is :",(not bool2))

the value of bool1 and bool2 is : False
 the value of bool1 or bool2 is : True
 the vale of not bool2 is : True

In [50]:
a = 4
b = 2
print(a and b)
print(a & b)
#and is performed on the single operator 
# & converts into the binary format

2
0

In [58]:
f = 4
g = 2
print(f and g)
print(f & g)
print(f or g)

2
0
4

In [60]:
a = float(input("Enter the Number :"))
print(type(a))

Enter the Number :346.4
<class 'float'>

# LISTS

In [63]:
friends = ['shub','shreya','jazzy','Andy','Mary']
print(friends)

['shub', 'shreya', 'jazzy', 'Andy', 'Mary']

In [64]:
#list , tuple ,set , dictionary are the 4 types in python used to store collections of data
# list items are ordered changeable and allow duplicate values.
# list items are indexed the first item has fixed [0], the second item has index [1] etc.
# list :can ADD, remove items in a klist after it has created.
#     allows duplocates
#     to determine how many items a list has, use the len( function)

In [67]:
a = [1,2,3,4,5,6]
print(a)

print(a[2])

a[0]=69
print(a)

jd = [45,'topno',False,6.9]
print(jd)

[1, 2, 3, 4, 5, 6]
3
[69, 2, 3, 4, 5, 6]
[45, 'topno', False, 6.9]

In [80]:
#list slicing 
friends = ['shub','shreya','jazzy','Andy','Mary','jay','vijay','dev','johnny']
print(friends[1:4])
print(friends[::-1])
print(friends[-1:-3])
print(friends[-1:-3:-1])
#reads from left to right

['shreya', 'jazzy', 'Andy']
['johnny', 'dev', 'vijay', 'jay', 'Mary', 'Andy', 'jazzy', 'shreya', 'shub']
[]
['johnny', 'dev']

In [83]:
fruits=['Apple','banana','pineapple','orange','kiwi','melon','Mango']
print(fruits)
fruits[5]='strawberry'
print(fruits)

['Apple', 'banana', 'pineapple', 'orange', 'kiwi', 'melon', 'Mango']
['Apple', 'banana', 'pineapple', 'orange', 'kiwi', 'strawberry', 'Mango']

In [84]:
#insert function
fruits.insert(5,"Watermelon")
print(fruits)

['Apple', 'banana', 'pineapple', 'orange', 'kiwi', 'Watermelon', 'strawberry', 'Mango']