In [1]:
#nested for loop:
x = [2,4]
y = [6,8]
for i in x:
    for j in y:
        print(i,j)

2 6
2 8
4 6
4 8

In [7]:
n = 5
print('*'*n)

*****

In [10]:
for i in range(4):
    for j in range(4):
        print("*",end=" ") # overrides the new line.
    print() #print empty lines.

* * * *
* * * *
* * * *
* * * *

In [22]:
for i in range(4):
    for j in range(i+1):
        print("*",end=" ") # overrides the new line.
    print() #print empty lines.

*
* *
* * *
* * * *

In [30]:
for i in range(2,4):
    for j in range(1,11):
        print(i,'*',j, '=',i*j)
print()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [32]:
# while loop
i = 1
n =  6
while i<6:
    print(i)
    i=i+1

1
2
3
4
5

In [36]:
# while with else
counter = 0
while counter < 3:
    print('you are inside the coco booth')
    counter = counter +1
else:
    print('you are kicked out of the coco booth')

you are inside the coco booth
you are inside the coco booth
you are inside the coco booth
you are kicked out of the coco booth

In [37]:
#  the for loop is usually used when the number of iterations is known.
#     while loop is usually used when the number of iterations is unknown.

In [45]:
# break statement
# we use it to terminate the loop whena certain 
for i in range(5):
    if i ==3:
        break
    print(i)

0
1
2

In [5]:
 i =1
while(i<=10):
    
    print("6 * ",(i),"=",6*i)
    
    if i>=6:
        break
    i =i+1

6 *  1 = 6
6 *  2 = 12
6 *  3 = 18
6 *  4 = 24
6 *  5 = 30
6 *  6 = 36

In [8]:
 for i in range(10):
    if i ==2:
        continue
    print(i)

0
1
3
4
5
6
7
8
9

In [15]:
n = 0
while n<10:
    n = n+1
    if n% 2!= 0:
        continue
    print(n)

2
4
6
8
10

In [ ]:
# Functions:
def functionname():
    body

In [20]:
def greet():
    name = 'hi'
    print(name,'how are you?')

In [21]:
greet()

hi how are you?

In [24]:
def ADD(x,y):
    z = x+y 
    print(z)

In [26]:
ADD(5,5)

10

In [27]:
def MULTIPLY(x,y):
    z = x*y 
    print(z)

In [28]:
MULTIPLY(4,2)

8

In [29]:
def name(x,y,z):
    print(x,"",y,"",z)

In [30]:
name('Akash','Santosh','Nair')

Akash  Santosh  Nair

In [31]:
# get the result in tuple format
#unpack tuple

# types of arguments =  arbitrary,default,keyword

In [38]:
def Master_Cal(a,b):
    return a+b,a-b,a*b,a%b

In [39]:
add,sub,mul,div = Master_Cal(b= 20,a= 40)
print(add,sub,mul,div)

60 20 800 0

In [42]:
def Show_employee(name,salary=90000):
     print('Name :',name,'Salary :',salary)
    
    
Show_employee('MARY','3,500,00')
Show_employee('AKASH')

Name : MARY Salary : 3,500,00
Name : AKASH Salary : 90000

In [78]:
# arbitrary
def sd(*n):
    print("first row of students is :"+ n[1])

In [80]:
sd("Akash ","Mary","Valentina","Nair")

first row of students is :Mary

In [83]:
def sd (*n):
    j = 0
    for i in n:
        j = j+i
    return j

In [84]:
sd(1,4,56)

61

In [87]:
def square(num):
    return num*num
for i in range(1,6):
    result = square(i)
    print('Square of ',i,'=',result)

Square of  1 = 1
Square of  2 = 4
Square of  3 = 9
Square of  4 = 16
Square of  5 = 25

In [88]:
# lamda

In [89]:
greet = lambda : print("hello world")

In [90]:
greet()

hello world

In [95]:
#python lambda function with argument:
k = lambda name: print('how are you',name)

In [96]:
k('akash')

how are you akash

In [97]:
cal = lambda num: "Even Number " if num %2 == 0 else "Odd Number"
cal(5)

'Odd Number'

In [98]:
# global and local variables:
def fun():
    s ="New Year Aheah yehhhh!"
    print(s)# local variable
   # sum = "akash" # global variable